---

import { siteConfig } from "../config";
---

<div id="config-carrier" data-hue={siteConfig.themeColor.hue} data-bg-enable={siteConfig.background.enable ? 1 : 0} data-bg-blur={siteConfig.background.blur ?? 0}>
</div>
